**/*.log
**/*.md
**/*.php~
**/*.dist.php
**/*.dist
**/*.cache
**/._*
**/.dockerignore
**/.DS_Store
**/.git/
**/.gitattributes
**/.gitignore
**/.gitmodules
**/compose.*.yaml
**/compose.*.yml
**/compose.yaml
**/compose.yml
**/docker-compose.*.yaml
**/docker-compose.*.yml
**/docker-compose.yaml
**/docker-compose.yml
**/Dockerfile
**/node_modules/
**/Thumbs.db
**/vendor/

.aiassistant/
.deployer/
.github/
.idea/
build/
docs/
factories/
fixtures/
public/assets/
public/bundles/
tests/
var/

.aiignore
.editorconfig
.env.*.local
.env.docker
.env.local
.env.local.php
.env.test
*.md
deploy.php
phpunit.xml
phpunit.*.xml
phpstan.dist.neon
rector.php
initial_bd.sql
