**/*.log
**/*.md
**/*.php~
**/*.dist.php
**/*.dist
**/*.cache
**/._*
**/.dockerignore
**/.DS_Store
**/.git/
**/.gitattributes
**/.gitignore
**/.gitmodules
**/compose.*.yaml
**/compose.*.yml
**/compose.yaml
**/compose.yml
**/docker-compose.*.yaml
**/docker-compose.*.yml
**/docker-compose.yaml
**/docker-compose.yml
**/Dockerfile
**/node_modules/
**/Thumbs.db
**/vendor/

.aiassistant/
.claude/
.deployer/
.github/
.idea/
.storage/
build/
docs/
public/assets/
public/bundles/
public/uploads/
tests/
var/

.aiignore
.editorconfig
.env.*.local
.env.docker
.env.local
.env.local.php
.env.test
.GHCR_PAT
*.md
deploy.php
package*.json
bun.lock
phpunit*.xml
phpstan.dist.neon
rector.php
favicon_package_v0.16.zip
