* text=lf

.idea/ merge=ours
composer.json merge=ours
composer.lock merge=ours
.gitattributes merge=ours
symfony.lock merge=ours
README.md merge=ours
TODO.md merge=ours
TIPS.md merge=ours
COMMANDS merge=ours
