import snippets/Caddyfile

{
    skip_install_trust
    admin :2019 {
        origins ::1
    }

    import globals/Caddyfile

    servers :80 {
        name "{$SERVER_NAME:localhost}"
    }

    servers :443 {
        name "{$SERVER_NAME:localhost}_ssl"
        import a-trusted-proxies
    }
}

import snippets/sites.caddyfile
import sites/*.caddyfile
