<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
	<meta charset="UTF-8">

	<meta name="csp-nonce" content="{{ csp_nonce('script') }}" data-turbo-track="reload" />
	<meta name="turbo-visit-control" content="reload" />

	<title>{% block title %}Welcome!{% endblock %}</title>

	<link rel="icon" type="image/x-icon" href="{{ asset('images/favicons/favicon.ico') }}" />

	{% block stylesheets %}
	{% endblock %}

	{% block javascripts %}
		{% block importmap %}{{ importmap('app', { 'nonce': csp_nonce('script') }) }}{% endblock %}
	{% endblock %}
</head>
<body class="h-dvh flex items-center justify-center bg-blue-100 text-blue-900">
	{% block body %}{% endblock %}
</body>
</html>
